.main-bg {
    background: url("../img/bg.png");
    min-height: 100vh;
    background-size: cover;
}

.container {
    width: 1050px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
}

.head {
    padding: 49px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo:hover .link {
    color: #f26522;
}

.milan-logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    margin-top: 5px;
    padding-right: 15px;
    width: 46px;
    height: 44px;
}

.logo:hover .milan-logo {
    background-image: url("../img/logo-hov.png");
}


.link {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}

.heading {
    font-size: 29px;
}

.sub-heading {
    font-size: 18px;
}

.contacts {
    color: #ffffff;
    font-size: 18px;
    text-align: right;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choose-tour {
    text-decoration: none;
    position: relative;


}
.choose-tour img{
    box-shadow: 0 -4px 15px 0 #fff;
}

.tour-item-info {
    position: absolute;
    width: 100%;
    bottom: 107px;
    height: 64px;
    background-color: #f26522;
    opacity: 0;
    transition: 0.3s opacity ease-in-out;
}

.choose-tour:hover .tour-item-info {
    opacity: 1;
}
.tout-item-text {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 62px;
}

.choose-tour:hover .tout-item-text {
    color: #f26522;
}

.description {
    padding: 0 20px;
    line-height: 21px;

}

.description p:first-child {
    float: left;
    font-size: 20px;
    color: #ffffff;
}

.description p:last-child {
    float: right;
    font-size: 14px;
    color: #ffffff;
}

.description:after {
    display: table;
    content: '';
    clear: both;
}

.cont {
    padding-left: 21px;
    padding-top: 15px;
    color: #ffffff;
    font-size: 10px;

}

.copyright {
    text-align: center;
    padding-top: 61px;
    color: #ffffff;
    font-size: 12px;
}